{% load static %}
<!--tells the template it can load static files-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Travel Wishlist</title>
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css"
type="text/css">
<!--CSS to make the page look nicer-->
  <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>

<h1 id="site-header">Where would you like to go?</h1>
<!--puts the static image in the header. the id links to the css-->

<body>
{% block content %}
{% endblock %}
</body>

<div>
  <p>A travel wishlist built with django</p>

  <a class="nav-link" href="{% url 'place_list' %}"> Your wishlist</a>
  <a class="nav-link" href="{% url 'places_visited' %}">Places you've visited</a>


</div>
</html>