{% extends 'travel_wishlist/base.html'%}
<!--tells this module to look for the base module and
include the text from the base module-->
{% block content %}

<h2>Travel Wishlist</h2>

<form class="visited-form" method="POST" action="{% url 'place_list' %}">
<!--  url reversing  -->
<!--  creates the html for the form, POST means adding things to it  -->
    {% csrf_token %}
<!--cross site request forgery-->
    {{new_place_form}}
    <button id="add-new-place" type="submit"> Add new place</button>
</form>
{% for place in places %}
<!--prints out the places in the wishlist on separate lines-->
<!--django template tag-->
<div class="wishlist-place">
    <span id="place-name-{{ place.pk }}" class="place.name">{{ place.name }}</span>
<!--  names of the places  -->

    <form method="POST" action="{% url 'place_was_visited' place.pk %}">
<!--connects the place_was_visited url and the current place's place_pk-->
<!--another example of url reversing-->
        {% csrf_token %}
        <button id="visited-button-{{ place.pk }}" type="submit">Visited!</button>
    </form>
</div>

{% empty %}
<!--if empty then display below message-->
<p>You have no places in your wishlist.</p>

{% endfor %}

{% endblock %}
<!--everything between the block and endblock tag is put in base.html in the same tags-->
<!--anchor tag makes that sentence a link-->